@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1550384283875'); /* IE9 */
  src: url('iconfont.eot?t=1550384283875#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAgMAAsAAAAADpAAAAe9AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCECgqPBIwZATYCJAMkCxQABCAFhG0HgQEbRgwjESaMFEf2Vwm8GVunBMm0taAI/jAk9rFQQY79rf3EZXDHmuD5fr927rNVS4ZJw5N6wqeLhvhDwyRREpEtlUhaTRvS/wHP/Jekd3FxkjsyaScg3dz+7+KothMQTPoA2wABMnMD4HLNoloWfoU5VJ3aJ48+sIELTm5TgnFMgv3D/VKvcgmSbxnslxW2aj4a8IAi2vZxaxxvgAcy9BlcLcNVYCPzVTdDgDAl0kCW+gzigMDARYKcq9kzJwPhUWMS6oWgzEWcaEAewIug2oneAtwbvy9tmBCAwmrgB+7N6D0Nqj4nv/gNEzwC4zQUcKozArfNQAOjAOYm/YpUvDCI5dOIES5WcQZAGi2tTlUjP/ethdUSa7k1/vMlX/zm8QTH45WEtDADbojFCo3FEHj+8xwwcRT4u0gQaqTSCwc1X3aUJAxKBJJEKFGQ5EKJhoSHEgvJEvTCQP23MgIAhLQT0gA9gDoF0BXg0iVDHFoiob5tZrCopJZhtGp2wTCKYYJ1RWGxiJphaCQ+XIX4BTLkr4cGr62/lxc98iDCNj0sjB2+Hx42uRKY9m5Qec54tvguN2JUm+0mB62x2ATrBEcwTiZRlNmOID4UfQkYaw6w2wMDHQ6bzc/PypmpB9Zo5qyGaB6wHDYUiSDrWrs9YMobg90KNv/Zto7ALiXRJvlbHIjR6Ji2ZLJUnOGZhKip7qdGWTaIIic9ntCm9L0sRTeLva7I05HDt4PrRU6WI+ruFopimCTximJslKfaumqrq+1sR8hgb6+u8V9KISYXhbR3BwGD1LrM3QDUoXthqOC0uEMRDdoXjJoTvl3D/XzN0YeRXo0P5vVOBGmMgQhrqGjEYvV3EEw2ywaTYkytcfqJYnhDs5eLbJINdnegyeEvSSCKFJLi+tzQHmar3OK7pDWdV/HKQHyjrsgxjyTDoXvC/fzGDm98ULDWfCssrD6o/l5cuxhAtRZhtMYZr1GU2LFtch/KoRib5AL7Kuxq4lElsi4y0uGm6Q5nkCj6cbTldNCopXysGqNRar5ZHsC1u0KNF2REeWuUXvPiqykW/+MS3RHONFaXIOltQZzRMlaobjd31iJ1bouTd9Cm1LXuckks+5X7dF0hpUtj/KtlnlTGveWgRhd1t7tkwx45ptyky1J5Venb192bxdzvGGKGcECYQZwyxhbpZmgPaGfoTm0SypV7r2RWepd7aatV6a4Ej6Oe07jSSOH0pnToHDRK39+/xM/aRoNF5XYUc18pYZGf9WCxKnFRkX4Wqh3e36+43T+WoZuT4ganpqyM/xLbk6C848GPLz43ffsoPXPvB9Y7PmazMenTs4e3pRxcrb9EnSL9Lt2qj03Ds7u1lu9XH9lS5K2OBs+4TW83ajahix2OxaoAvTIg1AQSp6NeffsOG6ZIvYyNKhvgTmAgva1sDQiGdlA6HnhnjO/c3hSmf8F3ImDAgOkp75PAd6ZlMcbzPxn9mOyZB15+OGZr3v6eW/1ebwrRztAASxDSHYLLRXO6kE0Ch7M6LroXrPh8K+Ekzini5PCDknFeOCfweBjO/XNW4oSZ08lH99bcglpeCzrrq2winPhU+Gdj07/D8UFF5hEWdnF3VuqwLezSPGB+itzgZEcvjHZZ3jZ2GFtAHFv8PmsZUUQN+n9401bd5ahN3wbMcfWWQw1gV29jNZ4LRQ6QkdiCjahrN2oi59yjRwweOVhTEHPACBy08ejrYSMjIkaMPPdq+Ei1WvkWFT9Nzh+aP2lSPk7kTYL4sYzY/lOWT+GbybV9R2CLli3y7G4SnuKjR8YP25uayFUNmrQJfI/w4SnZVYeqtCNjby9dG1k18DvDFHNalcarRwXgmzoOAtbvhRaKUxPmfLbP5+ZS8SCgZ8qWhvTfEeZbGx0wX8nw+qiOMD/fUF1XsT9bF1AdZn9x3smpf84KKnRjn9/AqqH4/CYevQv77KaqujxtUfOuKE3/SX6qxGzm8NigcZcYrCap5kvfZ33wuEO1ic6N/ZyJNZC2GNs8Pb+yUrlo8xz0/Tp0GfRMn2obsfzHB6XtmHZq54GdaEubivREl8U8yPtZ/0nn2i68Oni6Y9DUxdmjQ2HmrPUTEP3UgQxDBXoLkfnrYWZYwXjYKACAf95SrBIA9D/6GviCNmOCEf7F8xjrxXYK7y+FMBPNl/0KizW+8hzjHEd2wh4ts0zUlP1G0KeWNX8fhtdRly8YKO4miIqzCBw1OBlnmS+PC0O/JaGwC1hDeNtSUAFhsQqOFfY0L6qV5jJzDk7SnAOKAEXQBOlFG/woWCKMgyPILIQZoe/pETIsAQwxJMAwWwkISfaCIk4VNEluM8AA/jlY8nwHjqRgEGYf8b1ghP5ducNbRU6oQDzByZy01NHBzP1G0wKvbp7R9I91dT6Y+tEf+8KEtYpD1puZiTTomiN8ktthCBlKzQtK6i1RuQ6Djjq0lzmyg7eKnLSuCojnSCdz0pXpEPj5bzQt8Jow7mfkP9bVrR9MemMG9Jc4ZRq3K8XrzcyIGjUowZqjJf1kRgwinEGJ3m5BST1bIFiuBjqfzirum5fGdS2O1Tchf+crkaIZlsfxY3Ob2+IO4fbMjdA2t1MumTu66RxcQoWrM6mbLtswpmHg6SWV2+J1hZZ2uQUSJsMYAAA=') format('woff2'),
  url('iconfont.woff?t=1550384283875') format('woff'),
  url('iconfont.ttf?t=1550384283875') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1550384283875#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before {
  content: "\e61c";
}

.icon-lvyoutehui:before {
  content: "\e627";
}

.icon-dingwei1:before {
  content: "\e633";
}

.icon-linedesign-18:before {
  content: "\e672";
}

.icon-dingwei:before {
  content: "\e655";
}

.icon-dianzan:before {
  content: "\e609";
}

.icon-pinglun:before {
  content: "\e7f5";
}

.icon-shoucang:before {
  content: "\e613";
}


/*头部*/
.el-menu--horizontal>.el-menu-item.is-active {
  border-bottom: 2px solid #409EFF;
  color: #fff!important;
}
/* 分页 */
.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #ccc;
  color: #fff;
}
.el-pager li:hover {
  color: #606266!important;
  cursor: pointer;
}
.el-pager li.active {
  color: #fff!important;
  cursor: default;
}
/* 复文本框 */
.ql-editor{
  height: 400px!important;
  font-size: 18px;
  overflow-y: auto;
}
.selectCategory input.el-input__inner{
  width: 100% !important;
  font-size: 18px;
}
/* 关注列表按钮 */
.v-btn__content{
  color:#999;
}
/* 首页下拉框 */
.el-input--suffix .el-input__inner{
  width: 150px;
}
/*色替 #9BA4AC #2c3e50 rgb(34, 44, 76)*/
/*弹框*/
.el-dialog--center .el-dialog__body {
  text-align: center;
  font-size: 18px;
}
.el-dialog--center .el-dialog__header {
  font-size: 28px;
  font-weight: bold;
}
.el-button.el-button--primary {
  background-color: #ccc;
  border: 1px solid #ccc;
}
.el-button.el-button--default:hover {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #606266;
}
/*管理员侧栏*/
.el-menu-item-group__title{
  padding:0;
}
.demo-table-expand {
  font-size: 0;
}
.demo-table-expand label {
  width: 90px;
  color: #99a9bf;
}
.demo-table-expand .el-form-item {
  margin-right: 0;
  margin-bottom: 0;
  width: 100%;
  text-align: left;
}
.el-dialog.el-dialog--center {
  margin-top: 30vh!important;
}